.dashboard-nav {
	position: fixed;
	width: 200px;
	height: 100vh;
	background-color: #214232;
	top: 150px;
	z-index: 3;

	ul {
		li {
			width: 100%;

			a {
				padding: 10px;
				padding-left: 30px;
				color: white;
				font-weight: 500;
				display: flex;
				align-items: center;
				width: 100%;
				text-decoration: none;
				transition: all 0.2s ease-in-out;

				&:hover {
					background-color: #366ea7;
				}

				svg {
					margin-right: 10px;
					font-size: 20px;
				}
			}
		}
	}
}
