.brand-filter-wrapper {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid lightgray;
	p {
		font-size: 16px;
		font-weight: 500;
		color: #214232;
	}

	.brand-option {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 14px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}

		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 20px;
			width: 20px;
			background-color: #eee;
			border-radius: 50%;
		}

		&:hover input ~ .checkmark {
			background-color: #ccc;
		}

		input:checked ~ .checkmark {
			background-color: orange;
		}

		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}

		input:checked ~ .checkmark:after {
			display: block;
		}

		.checkmark:after {
			top: 6px;
			left: 6px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: white;
		}
	}
}
